{% extends "admin/change_form.html" %}

{% block form_top %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% include './user_graph_show.html' with username=user_name %}
    <hr/>

    {% if marks %}
<p>Post : ✅ , Pre : ❌</p>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Category</th>
                    <th scope="col">Score</th>
                    <th scope="col">Is Post Quiz</th>
                    <th scope="col">Last Submitted</th>
                </tr>
            </thead>
            <tbody>
                {% for data in marks %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{data.category.category_name}}</td>
                    <td>{{data.total_score}}</td>
                    <td>
                        {% if data.is_post_quiz %}
                        ✅
                        {% else %}
                        ❌
                        {% endif %}
                    </td>
                    <td>{{data.cr_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}    
{% endblock %}