{% extends './base.html' %}

{% block title %}Register Pege{% endblock %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'quiz_app/css/login_page.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block content %}

<div class="mt-4" style="margin-bottom: 60px;">

    <div class="alert alert-danger border-dark alert-dismissible fade show error_message" style="display: none;" role="alert"></div>
    <div class="alert alert-success border-dark alert-dismissible fade show send_success" style="display: none;" role="alert"></div>



    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h3>Forgot Password?</h3>
                </div>
                <div class="card-body">
                    <a onclick="click_resend()" href="#" class='btn btn-info btn-sm px-4' id="resend_otp" style="display: none;">Resend Otp</a>
                    <form method="POST" id="forgot_pass">
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input autofocus class='form-control' type="email" id = "email_input" placeholder="Enter your registered email id"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send OTP" class="btn float-right login_btn">
                        </div>
                        <div class="form-group">
                            <a href="{% url 'user_login' %}" class="mr-3 bg-dark text-light btn float-right login_btn">Back</a>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <form method="POST" id="otp_form" style="display: none;">
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input autofocus class='form-control' type="password" id = "otp_input" placeholder="Enter OTP"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn float-right login_btn">
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascript %}

<script>
    const click_resend = () => {
            $("#forgot_pass").show()
            $("#otp_form").hide()
            $("#resend_otp").hide()
        };
</script>

<script>
    $(document).ready(function (e) {
        $('#forgot_pass').on('submit',function (e) {
            var email_id = $("#email_input").val();
            e.preventDefault()
            $(".error_message").text("");
            $(".send_success").text("")
            $.ajax({
                type: "POST",
                url: `/forgot_password/`,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}','email_id' : email_id,'re_type' : 'otp_send'},
                dataType: "json",
                success: function (response) {
                    if(response.error){
                        var text = `<b>${response.error}</b>`
                        $(".error_message").show();
                        $(".error_message").append(text);
                        $(".send_success").hide()
                    }
                    else{
                        $(".error_message").hide();
                        $(".send_success").show()
                        var su_msg = `<span>We have send an OTP on this email : <span class="text-dark font-weight-bold">${email_id}</span> Please submit this OTP here....</span>`
                        $("#otp_form").show()
                        $(".send_success").append(su_msg)
                        $("#forgot_pass").hide();
                        $("#resend_otp").show();
                    }
                },
                error: function (e) {
                    alert("sorry, Something went wrong..try again!!!")
                }
            });
        });

        $('#otp_form').on('submit',function (e) {
            e.preventDefault()
            var email_id = $("#email_input").val();
            const otp_val = $("#otp_input").val();
            $(".error_message").text("");
            $.ajax({
                type: "POST",
                url: `/forgot_password/`,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}','otp_val' : otp_val,'email_id': email_id,'re_type' : 'validate'},
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    if(response.error){
                        var text = `<b>${response.error}</b>`
                        $(".error_message").show();
                        $(".error_message").append(text);
                        $(".send_success").hide()
                    }
                    else{
                        console.log("object")
                        window.location.href = '/';
                    }
                },
                error: function (e) {
                    alert("sorry, Something went wrong..try again!!!")
                }
            });
        });
    });
</script>
{% endblock %}
{% endblock %}