{% extends './base.html' %}

{% block title %}Register{% endblock %}

{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'quiz_app/css/register.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div style="margin-bottom: 60px;">

{% if fm.errors %}
        {% for field in fm %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ error|escape }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in fm.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ error|escape }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
{% endif %}

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Register</h3>
            </div>
            <div class="card-body">
                <form action="{% url 'user_registration' %}" method="POST">
                    {% csrf_token %}
                    {% for field in fm %}
                    {% if field.name == 'username' %}
                    <div class="input-group form-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{field}}
                    </div>
                    {% endif %}
                    {% if field.name == 'email' %}
                    <div class="input-group form-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        {{field}}
                    </div>
                    {% endif %}
                    {% if field.name == 'phone_no' %}
                    <div class="input-group form-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        {{field}}
                    </div>
                    {% endif %}
                    {% if field.name == 'password1' %}
                    <div class="input-group form-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{field}}
                    </div>
                    {% endif %}
                    {% if field.name == 'password2' %}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{field}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="row align-items-center remember">
                        <input type="checkbox" id = "mca_fill" required><b class="text-warning">Are You MCA Student?</b>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn float-right register_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Already have an account?<a href="{% url 'user_login' %}" class="font-weight-bold btn-outline-info">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
document.getElementById('mca_fill').oninvalid = function (event) {
    event.target.setCustomValidity('Only MCA student is eligible to create a new account!!!');
    alert('Only MCA student is eligible to create a new account!!!')
    location.reload()
    }
</script>

{% endblock %}