<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp Verification</title>
</head>
<body>
    <h3>Otp Verification for forgot password</h3>
    <hr>
    <small>Hello, {{username}}</small>

    <p>Your Otp is <span style="font-weight: bolder; font-size: larger; background-color: rgb(230, 233, 236); padding: 4px;">{{otp}}</span></p>

    <h6>Have a great day {{username}}</h6>
    <small>Team <b>Ingenuity Towards Skill Enhancement</b></small>

</body>
</html>