<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account successfully activated</title>
</head>

<body>
    <h3>Welcome <strong>{{username}}</strong></h3>
    <hr>
    <p>Your account successfully activated at <a href="{{domain}}">{{domain}}</a>.Now you can access all the feature of this site.Thanks for the registration..</p>
    <h6>Have a great day {{username}}</h6>
    <small>Team <b>Ingenuity Towards Skill Enhancement</b></small>
</body>

</html>